* {
    background-color: rgb(161, 161, 161);
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.list-wrapper {
    width: 40%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: aliceblue;
}

.list-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#recipe-list {
    font-size: 20px;
    background-color: aliceblue;
    list-style: none;
    line-height: 40px;
}

#recipe-list li {
    font-size: 20px;
    background-color: aliceblue;
    list-style: none;
}

#recipe-list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    transition: 0.3s ease;
}

#recipe-list a:hover {
    color: rgb(0, 204, 255);
}

